main {
  display: grid;
  grid-template-columns: 16vw 16vw 16vw;
  grid-gap: 1%;
  justify-content: center;
}
.RestartGame {
  background-color: #4caf50; /* Green */
  border: none;
  max-width: 25%;

  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 3px;
}
.boardgame {
  border: 5x solid black;

  max-width: 100%;
  height: 100vh;
  text-align: center;
  background-color: rgb(146, 60, 227);
}
app-square {
  border: 1px rgb(146, 121, 121) solid;
  height: 9em ;
  justify-content: center;
  margin-bottom: 1%;
}
